/* Page Container */
#page-content {
    width: 95%; 
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
  }
  /* General Section Styles */
  .CreateAppointment {
    padding: 50px 10px; 
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .section-name {
    font-size: 3rem; 
    margin-bottom: 40px; 
    text-align: center;
    color: #007bff; 
  }
  
  
  /* Form & Schedule Grid Container */
  .container-grid {
    display: grid;
    grid-template-columns: 6fr 2fr; 
    gap: 10px;
    align-items: start;
  }
  /* Form Styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-outline {
    position: relative; 
    margin-bottom: 15px; 
  }
   
  .form-control-lg {
    font-size: 1.2rem; 
    padding: 15px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #ced4da;
    width: 100%;
  }
  
  .form-control-lg:focus {
    border-color: #007bff;
    box-shadow: none;
  }
  
  /* Form Label Styling */
  .form-label {
    font-size: 1rem;
    display: block; 
    margin-bottom: 5px;
  }
  
  .form-group select { /* Style for select dropdowns */
    font-size: 1.2rem;
    padding: 10px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #ced4da;
    width: 100%;
  }
  
  /* Submit Button Styling */
  .text-center.text-lg-start {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn-primary.btn-lg {
    font-size: 1.1rem; 
    padding: 12px 24px;
    border-radius: 8px;
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary.btn-lg:hover {
    background-color: #0056b3;
  }
  
  /* Clinic Schedule */
  .clinic-schedule {
    width: 160%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .clinic-schedule h3 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }
  
  .clinic-schedule table {
    width: 100%;
    padding: 40px;
    border-collapse: collapse;
  }
  
  .clinic-schedule th, .clinic-schedule td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: left;
  }
  
